* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-image: url("../assets/glassbilder/ice-opacity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  .headingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .headingTag {
      padding: 10px;
    }
    .alexImg {
      width: 300px;
      height: 200px;
      border-radius: 15%;
      box-shadow: 5px 10px 18px #888888;
      margin: 10px;
    }
  }
  .sandwichImg {
    width: 150px;
    height: 100px;
    width: 100px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .iceCream {
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
